.professional-history {
    margin: 0 25px;

    &__header {
        text-align: center;
        margin-bottom: 60px;

        img {
            border-radius: 50%;
            margin-bottom: 36px;
            height: 350px;
            width: 350px;
            object-fit: cover;
        }
    }

    .staff__title {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .staff-info.staff__position {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 10px;
        font-style: normal;
    }

    h2 {
        text-align: center;
        font-weight: bold;
    }

    .optional-image-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 40px;

        img {
            border-radius: 5px;
            display: inline-block;
            object-fit: cover;
        }
    }

    .optional-image-caption {
        text-align: left;
        margin-right: auto;
    }


}